* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #16222A, #3A6073);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #f0f0f0;
    margin: 100px auto 20px;
    padding: 20px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eded;
    border-radius: 20px;
    padding-left: 30px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #f3791c;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: url("images/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 4px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
   background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: ease-in-out;
}
ul li span:hover{
    background: black;
    color: white;
    
}